*.xccheckout

Podfile.lock
Manifest.lock

.DS_Store

/Pods
/src/build
/cameo.xcodeproj/project.xcworkspace/xcuserdata
/cameo.xcodeproj/xcuserdata
/cameo.xcworkspace/xcuserdata
/samples/demo/cameo_demo.xcodeproj/project.xcworkspace/xcuserdata
/samples/demo/cameo_demo.xcodeproj/xcuserdata
