*.xccheckout

Podfile.lock
Manifest.lock

.DS_Store

/src/build/
/cameo.xcodeproj/project.xcworkspace/xcuserdata/
/cameo.xcodeproj/xcuserdata/
/samples/demo/cameo_demo.xcodeproj/project.xcworkspace/xcuserdata/
/samples/demo/cameo_demo.xcodeproj/xcuserdata/
